.menu-bar{
    -fx-background-color: #899878;
    -fx-background-radius: 5;
    -fx-border-radius: 5; 
    -fx-border-color: transparent; 
    -fx-border-width: 1; 
    -fx-text-fill: white;
}


 .Button1  {
    -fx-background-color: #F4F9E9;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.button2:hover {
    -fx-background-color: b5dee1; 
}

.button3 {
    -fx-background-color: #899878;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #899878;
    -fx-border-width: 1;
    -fx-text-fill: white;

}

.button4:hover {
    -fx-background-color: #222725; 
    
}

.label {
    -fx-font-size: 18px; 
    -fx-text-fill: #222725; 
    -fx-padding: 8px; 
}

.label1:hover {
    -fx-text-fill: #778800; 
}
